body {

    font-family: "Liberation Sans";

    h1 {
        text-align: center;
    }

    .notes {
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      .notes-format {
        width: 25rem;

        margin-right: 0.5rem;
        margin-left: 0.5rem;
        margin-bottom: 0.5rem;

        box-sizing: border-box;
      }

      #newnote {
        text-align: center;
        padding: 2rem;
        background-color: black;
        color: white;
        cursor: pointer;

        height: 10rem;
        font-size: 4rem;
        font-weight: bold;

      }

      .note {
        background-color:  #01B9FF;
        min-height: 10rem;
        border: solid 3px black;
        border-radius: 3px;

        .note-content {
            padding: 0.3rem;
            min-height: 6.8rem;
            &:focus {
                background-color: lightgrey;
            }
            border-bottom: 1px solid black;
        }

        .bottom-note {
            background-color: lightgrey;
            padding: 0.3rem 1rem;
            .bottom-button {
                background-color: black;
                color: white;
                font-size: 1.4rem;
            }

            .colors {
                list-style-type: none;
                display: inline-block;
                background-color: Gainsboro;
                text-align: center;
                border-radius: 2px;

                .color {
                    display: inline-block;
                }
            }
        }

      }

      .note-blue {
          background-color:  #01B9FF !important;
      }

      .note-red {
          background-color:  #FF4949 !important;
      }

      .note-orange {
          background-color:  #F38120 !important;
      }

      .note-pink {
           background-color: #C36CFF !important;
      }
    }

}
