<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Notapad{% endblock %}</title>
        {% block stylesheets %}
         <link rel="stylesheet" type="text/css" href="/build/app.css">
        {% endblock %}
    </head>
    <body>
        <h1>Notapad</h1>
        {% block body %}
        <p> Remember the URL for using later</p>
        <div id="app">Oups... Problème</div>
        {% endblock %}

        {% block javascripts %}
        <script src="/build/app.js"></script>
        <!-- <script src="{{ asset('build/app.js') }}"></script> -->
        {% endblock %}
    </body>
</html>
